openapi: '3.0.0'
info:
  version: '1.0.0'
  title: 'Schier Product API'
  description: The Schier Product API provides information about each of it's grease interceptors and associated components.

servers:
  - url: https://api.schierproducts.com/api/product
    description: Production Server

paths:
  /product-types:
    get:
      summary: Retrieve a list of product types.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: 'list'
                  url:
                    type: string
                    description: 'The url that can be used to retrieve this product type list.'
                    example: '/product-types'
                  data:
                    type: array
                    description: 'A list of available product types that are available in the API'
                    items:
                      $ref: '#/components/schemas/ProductType'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  '/product-types/{ProductTypeKey}':
    get:
      summary: Retrieve a list of product types.
      parameters:
        - name: ProductTypeKey
          description: The unique identifier of the product type to be retrieved.
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ProductTypeKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductType"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: This product type could not be found.
  '/product-types/{ProductTypeKey}/products':
    get:
      summary: Retrieve a list of products that belong to the provided product type.
      parameters:
        - name: ProductTypeKey
          description: The unique identifier of the product type to be retrieved.
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ProductTypeKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                  url:
                    type: string
                    description: The url that can be used to retrieve this list of products.
                    example: /product-types/hydromechanical_grease_interceptor/products
                  data:
                    type: array
                    description: A list of products that belong to the targeted product type.
                    items:
                      $ref: '#/components/schemas/Product'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unauthenticated
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: This product type could not be found.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: There was a problem that happened on our end.
  /products:
    get:
      summary: Retrieve a list of products based on the provided parameters.
      parameters:
        - in: query
          name: limit
          description: Limit the number of results returned from the query
          required: false
          schema:
            type: integer
            default: 25
          examples:
            LimitTo10:
              summary: Limiting the returned results to 10 results.
              value: 10
        - in: query
          name: offset
          description: Skip the provided number of results. Mostly used for pagination purposes.
          required: false
          schema:
            type: integer
            default: 0
          examples:
            OffsetBy20:
              summary: Skipping the returned results by 20.
              value: 20
        - in: query
          name: variants
          description: Include any variants of a specific product; other than the base model.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductList"
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unauthenticated
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: The requested list of products could be found.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: There was a problem that happened on our end.
  /products/{PartNumber}:
    get:
      summary: Retrieve a list of products based on the provided parameters.
      parameters:
        - in: path
          name: PartNumber
          description: The unique part number for the product that is to be retrieved.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Unauthenticated
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: The requested list of products could be found.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: There was a problem that happened on our end.
components:
  schemas:
    ProductType:
      xml:
        name: product-type
      type: object
      properties:
        object:
          type: string
          default: product-type
        url:
          type: string
          description: The url that can be used to retrieve this product type.
          example: /product-types/hydromechanical_grease_interceptor
        name:
          type: string
          description: The human-friendly name of the product type
          example: Hydromechanical Grease Interceptor
        key:
          type: string
          description: The slug/key of the product type. Usually a lower case, underscored version of the name.
          example: hydromechanical_grease_interceptor
        active:
          type: boolean
          description: The published-status of this product type (ie. should this type be shown on the eCommerce store.
        image:
          type: string
          nullable: true
          description: If available, the image that can be used as a type of 'cover image' to represent this product type.
        created:
          type: string
          description: The date of when the product type was created.
          example: 11/24/2020
        last_updated:
          type: string
          nullable: true
          description: If available, the date of when the product type was updated.
          example: 11/24/2020
        parent:
          type: object
          nullable: true
          description: If the represented product type is a child product type, this object will represent the parent product type.
        types:
          type: array
          items:
            type: string
          description: If the current product type is a parent, these are the associated children product types

    Product:
      xml:
        name: product
      type: object
      description: A specific description of a product that is offered by Schier to be sold via eCommerce or wholesale.
      properties:
        object:
          type: string
          default: product
        url:
          type: string
          description: The url that can be used to retrieve this product type.
          example: /products/4080-031-01
        id:
          type: number
          description: The internal, unique identifier for this product. (For Schier purposes only.)
        name:
          type: string
          description: The name of the product.
          example: GB-1000
        short_name:
          type: string
          description: A shorter/redacted version of the product name. In most cases, it will be the same as the product name.
          example: GB-1000
        created:
          type: string
          description: The date of when the product was created.
          example: 11/24/2020
        updated:
          type: string
          nullable: true
          description: If available, the date of when the product was updated.
          example: 11/24/2020
        types:
          $ref: "#/components/schemas/Types"
        part_number:
          type: string
          description: The unique part number that is assigned to this product that also indicates the configuration of input/output fittings and the type of cover fitted to the product.
          example: 4080-031-01
        base_model:
          type: object
          properties:
            is_base_model:
              type: boolean
              default: false
              description: If the product that is returned is the base model of the product, this value will be 'true''. A base product is identified as the default product that appears on the Schier website in most cases.
            base_part_number:
              type: string
              nullable: true
              default: null
              description: If the base_model_property is false, the part number to the base model of this current product will be printed.
        store_id:
          type: string
          description: The eCommerce provider for the Schier website requires that each product configuration (or variant) has a unique identifier. This identifier is used to add the product to shopping carts. NOTE – This is different that the product id.
        shipping_group:
          type: string
          description: The shipping rule group that this product belongs to. This group is dictated by the Schier eCommerce store to provide specific pricing and terms to each shipment.
        active:
          type: boolean
          description: Indication if the product is a 'published' state and is available for sale.
        visible_on_store:
          type: boolean
          description: Indication if the product should be shown on the website for sale in the eCommerce channel.
        description:
          type: string
          description: A description of the product and its uses.
        short_description:
          type: string
          nullable: true
          description: In the event that product description is long in length, a shorter summary of the product can be provided.
        market_specific_description:
          type: string
          nullable: true
          description: In certain cases, specific descriptions need to be provided for products that solve a need for a market or jurisdiction.
        website_url:
          type: string
          description: The public-facing url that can be followed to view this product on the Schier website.
        images:
          $ref: "#/components/schemas/ProductImages"
        processing:
          type: object
          properties:
            lead_time:
              type: number
              description: The number of business days required to build the product upon processing.
            threshold:
              type: number
              description: The number of units that can be purchased at once that can be applied to the provided lead time. Any number of units purchased over the provided number will yield a TBD lead time.
        price:
          $ref: "#/components/schemas/Price"
        installation_options:
          type: object
          properties:
            object:
              type: string
              default: installation-options
            location:
              type: object
              properties:
                object:
                  type: string
                  default: installation-options-location
                indoors:
                  type: boolean
                  description: If the product can be installed indoors.
                outdoors:
                  type: boolean
                  description: If the product can be installed outdoors.
                above_grade:
                  type: boolean
                  description: If the product can be installed above ground (not buried).
                below_grade:
                  type: boolean
                  description: If the product can be installed below ground (buried, suspended).
                other:
                  type: boolean
                  description: If the product can be installed in any other locations other than the previously specified.
            location_as_text:
              type: string
              description: A human-friendly version of the boolean flags of the various installation location properties for this product.
            traffic_area:
              type: boolean
              description: If the product can be installed below-ground and in a traffic area.
        ratings:
          type: array
          description: A list of compatible flow rates, efficiency and associated grease capacity combinations for this product.
          items:
            $ref: "#/components/schemas/ProductRating"
        solids_capacity:
          $ref: "#/components/schemas/DimensionSet"
        liquid_capacity:
          $ref: "#/components/schemas/DimensionSet"
        base_dimensions:
          type: object
          description: The dimensions of the product when it is installed/unpackaged.
          properties:
            object:
              type: string
              default: dimension-set
            standard:
              type: object
              description: The measurements of the product using standard units of measurement.
              properties:
                object:
                  type: string
                  default: dimensions
                length:
                  $ref: "#/components/schemas/Measurement"
                width:
                  $ref: "#/components/schemas/Measurement"
                height:
                  $ref: "#/components/schemas/Measurement"
                weight:
                  $ref: "#/components/schemas/Measurement"
            metric:
              type: object
              description: The measurements of the product using metric units of measurement.
              properties:
                object:
                  type: string
                  default: dimensions
                length:
                  $ref: "#/components/schemas/Measurement"
                width:
                  $ref: "#/components/schemas/Measurement"
                height:
                  $ref: "#/components/schemas/Measurement"
                weight:
                  $ref: "#/components/schemas/Measurement"
        shipping_dimensions:
          type: object
          description: The dimensions of the product when it is packaged for shipping in isolation. This will include the pallet if required for shipping.
          properties:
            object:
              type: string
              default: dimension-set
            standard:
              type: object
              description: The measurements of the product using standard units of measurement.
              properties:
                object:
                  type: string
                  default: dimensions
                length:
                  $ref: "#/components/schemas/Measurement"
                width:
                  $ref: "#/components/schemas/Measurement"
                height:
                  $ref: "#/components/schemas/Measurement"
                weight:
                  $ref: "#/components/schemas/Measurement"
            metric:
              type: object
              description: The measurements of the product using metric units of measurement.
              properties:
                object:
                  type: string
                  default: dimensions
                length:
                  $ref: "#/components/schemas/Measurement"
                width:
                  $ref: "#/components/schemas/Measurement"
                height:
                  $ref: "#/components/schemas/Measurement"
                weight:
                  $ref: "#/components/schemas/Measurement"
        manway_access_ports:
          type: number
          nullable: true
          description: The number of manways that the product has. This value is primarily used to indicate the number covers are needed.
        units_in_series:
          type: array
          description: The available number of units that can be 'chained' together to create an interceptor system. The number of units could potentially change depending on the jurisdiction requirements.
          nullable: true
          items:
            type: object
            properties:
              object:
                type: string
                default: units-in-series
              number:
                type: number
                description: The number of units of the described interceptor
        related_products:
          type: object
          description: A list of products that can be described as 'alternates' for the requested product These alternates are normally modified a specific way to conform to a jurisdicition's specification or requirements.
          properties:
            object:
              type: string
              default: list
            data:
              type: array
              default: [ ]
              items:
                $ref: "#/components/schemas/RelatedProduct"
        accessories:
          type: object
          description: The compatible accessories that can be fitted to this product.
          properties:
            object:
              type: string
              default: list
            data:
              type: array
              default: [ ]
              items:
                $ref: "#/components/schemas/Accessory"
        alternate_accessories:
          type: object
          description: In isolated instances, certain accessories can be 'inter-changable' based on the installation specification. These accessories will be listed here.
          properties:
            object:
              type: string
              default: list
            data:
              type: array
              default: [ ]
              items:
                $ref: "#/components/schemas/Accessory"
        options:
          type: object
          description: A list of options that individualize this product and also provide the combinations dictated by the associated model numbers.
          properties:
            object:
              type: string
              default: list
            data:
              type: array
              default: [ ]
              items:
                $ref: "#/components/schemas/ProductOption"
        certifications:
          type: array
          description: Any provided certifications provided by a governing body or any Schier-produced test reports.
          default: [ ]
          items:
            $ref: "#/components/schemas/ProductCertification"
        installation_guide:
          type: object
          description: Available installation guides based on file format and translation.
          properties:
            object:
              type: string
              default: document-library
            pdf:
              type: string
              nullable: true
              description: The installation guide in a PDF format.
            pdf_french:
              type: string
              nullable: true
              description: The installation guide in a PDF format, translated in French.
            pdf_spanish:
              type: string
              nullable: true
              description: The installation guide in a PDF format, translated in Spanish.
            dwg:
              type: string
              nullable: true
              description: The installation guide in a DWG vector format.
        revit:
          type: string
          nullable: true
          description: A link to the requested product's documents in a REVIT format. These files are usually delivered in a ZIP format.
        owners_manual:
          type: string
          nullable: true
          description: A link to the requested product's owners manual.
        csi_masterspec:
          type: string
          nullable: true
          description: A link to the Schier product masterspec document.
    PhotoLibrary:
      type: object
      properties:
        object:
          type: string
          default: image-library
        orig:
          type: string
          description: The original image's url without any resizing or manipulations.
        lg:
          type: string
          description: A url to the downsized version of the original to 'a max width of 1400 pixels'.
        md:
          type: string
          description: A url to the downsized version of the original to 'a max width of 800 pixels'.
        sm:
          type: string
          description: A url to the downsized version of the original to 'a max width of 300 pixels'.
    ProductRating:
      type: object
      properties:
        object:
          type: string
          default: rating
        flow_rate:
          $ref: "#/components/schemas/DimensionSet"
        grease_capacity:
          type: object
          properties:
            object:
              type: string
              default: grease-capacity-measurement
            weight:
              $ref: "#/components/schemas/DimensionSet"
            volume:
              $ref: "#/components/schemas/DimensionSet"
        label:
          type: string
          nullable: true
          description: An optional lable that can be applied to further explain the use/implementation of this rating.
        rating_id:
          type: integer
          description: The internal, unique identifier for this product rating. (For Schier purposes only.)
        order:
          type: integer
          description: The order in which these ratings should be shown (based on Schier ordering rules).
        is_99_percent_efficient:
          type: boolean
          description: If the rating has been classified as 99% efficient. This is primarily used for the Miami DERM jurisdiction/market.
          default: false
    DimensionSet:
      type: object
      nullable: false
      properties:
        object:
          type: string
          default: dimension-set
        standard:
          type: object
          description: The standard (non-metric) value of the dimension
          properties:
            object:
              type: string
              default: measurement
            value:
              type: number
              description: The value of the current dimension in standard units.
            unit:
              type: string
              description: The standard unit of measurement that the associated 'value' is represented in.
        metric:
          type: object
          description: The metric value of the dimension
          properties:
            object:
              type: string
              default: measurement
            value:
              type: number
              description: The value of the current dimension in metric units.
            unit:
              type: string
              description: The unit of measurement that the associated 'value' is represented in.
    Measurement:
      type: object
      properties:
        object:
          type: string
          default: measurement
        value:
          type: number
          description: The numeric-value of the measurement.
        unit:
          type: string
          description: The unit of measurement for the provided value.
          example: in
    Price:
      type: object
      description: Price-related information for the product based on the customer type.
      properties:
        object:
          type: string
          default: product-price
        list:
          type: string
          description: The MSRP list price for the product.
          example: 24,263.00
        retail:
          type: object
          properties:
            object:
              type: string
              default: price
            price:
              type: string
              description: The estimated retail price that a customer would purchase the product for on the Schier website.
              example: 18,197.25
            multiplier:
              type: number
              description: The percent multiplier that is applied to the list price to calculate the estimated retail price.
              example: .75
        wholesale:
          type: object
          properties:
            object:
              type: string
              default: price
            price:
              type: string
              description: The estimated wholesale price that a wholesale customer would purchase the product for; excluding any contractual agreements or terms.
              example: 13,344.65
            multiplier:
              type: number
              description: The percent multiplier that is applied to the list price to calculate the estimated wholesale price.
              example: .55
    Types:
      type: array
      description: A list of product types that this product applies to.
      items:
        type: string
        description: A human-friendly name of the product type groups that this product belongs to.
        example: Hydromechanical Grease Interceptor
    ProductImages:
      type: object
      description: A list of web-optimized images with assorted sizes and attributes to be used in both a marketing and specification manner.
      example:
        object: product-image-library
        primary:
          object: product-image
          orig: https://dev-schier-api.nyc3.cdn.digitaloceanspaces.com/product-photos/gb-1000/de1d7644-1a8d-4f7e-9b39-58cd57b7c6ff.png
          lg: https://dev-schier-api.nyc3.cdn.digitaloceanspaces.com/product-photos/gb-1000/de1d7644-1a8d-4f7e-9b39-58cd57b7c6ff_lg.png
          md: https://dev-schier-api.nyc3.cdn.digitaloceanspaces.com/product-photos/gb-1000/de1d7644-1a8d-4f7e-9b39-58cd57b7c6ff_md.png
          sm: https://dev-schier-api.nyc3.cdn.digitaloceanspaces.com/product-photos/gb-1000/de1d7644-1a8d-4f7e-9b39-58cd57b7c6ff_sm.png
      properties:
        object:
          type: string
          default: product-image-library
        primary:
          $ref: "#/components/schemas/PhotoLibrary"
        dimension:
          $ref: "#/components/schemas/PhotoLibrary"
    Accessory:
      type: object
      description: An abreviated explanation of a product that can be used to extend or accessorize the queried product.
      properties:
        object:
          type: string
          default: product
        id:
          type: number
          description: The internal, unique identifier for this product. (For Schier purposes only.)
        name:
          type: string
          description: The name of the product.
          example: AK3
        short_name:
          type: string
          description: A shorter/redacted version of the product name. In most cases, it will be the same as the product name.
          example: AK3
        short_description:
          type: string
          nullable: true
          description: In the event that product description is long in length, a shorter summary of the product can be provided.
        market_specific_description:
          type: string
          nullable: true
          description: In certain cases, specific descriptions need to be provided for products that solve a need for a market or jurisdiction.
        store_id:
          type: string
          description: The eCommerce provider for the Schier website requires that each product configuration (or variant) has a unique identifier. This identifier is used to add the product to shopping carts. NOTE – This is different that the product id.
        link:
          type: string
          description: The public-facing url that can be followed to view this product on the Schier website.
        price:
          $ref: "#/components/schemas/Price"
        types:
          $ref: "#/components/schemas/Types"
        images:
          $ref: "#/components/schemas/ProductImages"
        component:
          type: boolean
          description: If the described accessory can be considered a component. For use with Grease Monkey.
          default: false
    ProductOption:
      type: object
      description: A customizable connection or cover that individualizes a product. Unique combinations of these options dictate the associated model numbers.
      properties:
        id:
          type: integer
          description: The internal, unique identifier for this option. (For Schier purposes only.)
        name:
          type: string
          description: The name of the option.
          example: 6\" Plain Inlet/Outlet
        option_type:
          type: string
          enum:
            - Cover
            - Outlet Configuration
            - Inlet/Outlet
          description: The type of option that defines this product.
          example: Cover
        description:
          type: string
          nullable: true
          description: A brief explanation that provides context of what makes this option unique.
        store_id:
          type: integer
          nullable: true
          description: The eCommerce provider for the Schier website occasionally requires that each product product has a unique identifier. This identifier is used to add the product to shopping carts. NOTE – This is different than the option id.
        attributes:
          type: array
          default: [ ]
          description: A list of traits that are specific to this option; ie the diameter and material of a connection.
          items:
            $ref: "#/components/schemas/ProductOptionAttribute"
        object:
          type: string
          default: product-option
    ProductOptionAttribute:
      type: object
      description: An attributable characteristic that can be applied to a product option.
      properties:
        connection_type:
          type: string
          enum:
            - outlet
            - inlet
          example: inlet
        diameter:
          type: string
          description: The width of the connection in inches.
          enum:
            - 2\"
            - 3\"
            - 4\"
            - 6\"
          example: 6
        thread_type:
          type: string
          description: The type of thread (if any) that the connection exhibits.
          enum:
            - Female Thread (FPT)
            - Male Thread (MPT)
            - Plain
          example: Female Thread (FPT)
        connection_feature:
          type: string
          nullable: true
          description: Any additional, unique features that this attribute may have.
          enum:
            - None
            - Fixed
          example: Fixed
        has_pumpout_ports:
          type: boolean
          default: false
          description: If this attribute contains pumpout ports that can be used pumpout the interceptor.
        object:
          type: string
          default: product-option-attribute
    RelatedProduct:
      type: object
      description: An abreviated explanation of a product that is similar to the requested product but may have a subtle change required by a jurisdiction/market/etc.
      properties:
        object:
          type: string
          default: product
        id:
          type: number
          description: The internal, unique identifier for this product. (For Schier purposes only.)
        name:
          type: string
          description: The name of the product.
          example: GB-250-B
        short_name:
          type: string
          description: A shorter/redacted version of the product name. In most cases, it will be the same as the product name.
          example: GB-250-B
        short_description:
          type: string
          nullable: true
          description: In the event that product description is long in length, a shorter summary of the product can be provided.
        market_specific_description:
          type: string
          nullable: true
          description: In certain cases, specific descriptions need to be provided for products that solve a need for a market or jurisdiction.
        store_id:
          type: string
          description: The eCommerce provider for the Schier website requires that each product configuration (or variant) has a unique identifier. This identifier is used to add the product to shopping carts. NOTE – This is different that the product id.
        link:
          type: string
          description: The public-facing url that can be followed to view this product on the Schier website.
        price:
          $ref: "#/components/schemas/Price"
        types:
          $ref: "#/components/schemas/Types"
        images:
          $ref: "#/components/schemas/ProductImages"
    ProductCertification:
      type: object
      properties:
        object:
          type: string
          default: certification
        type:
          type: string
          enum:
            - link
            - file
          description: The medium of the document that is provided.
        name:
          type: string
          description: A descriptive name to provide context to the document.
          example: GB-1000 ASME Test Report (200 GPM)
        link:
          type: string
          description: A link to the provided asset.
    ProductList:
      type: object
      properties:
        object:
          type: string
          default: list
        url:
          type: string
          description: The url that can be used to retrieve this product list.
          example: /products?variants=true&limit=1&offset=0
        data:
          type: array
          description: A list of available products that are available in the API
          items:
            $ref: '#/components/schemas/Product'
    ProductTypeKey:
      description: The unique key identifier of a product type.
      type: string
      example: hydromechanical_grease_interceptor
    Error:
      type: object
      required:
        - message
      properties:
        message:
          description: A human readable error message
          type: string
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - Bearer: []